<div class="m-portal-ft">
    <div class="outer">
      <div class="container">
        <div class="row">
        <div class="left clearfix col-md-7" >
          <ul id="ftDemoHref">
            <li class="hd"><a href="https://ark.analysys.cn/product-analytics.html">产品特征</a></li>
            <li class="bd"><a href="https://ark.analysys.cn/portal/product-panel.html">灵活看板</a></li>
            <li class="bd"><a href="https://ark.analysys.cn/portal/product-analytics.html">实时分析</a></li>
            <li class="bd"><a href="https://ark.analysys.cn/portal/product-segmentation.html">分群画像</a></li>
            <li class="bd"><a href="https://ark.analysys.cn/portal/product-operate.html">营销闭环</a></li>
            <li class="bd"><a href="https://ark.analysys.cn/portal/access-data.html">数据接入</a></li>
            <li class="bd"><a href="https://ark.analysys.cn/portal/access-platform.html">平台扩展</a></li>
            <li class="bd"><a href="https://ark.analysys.cn/portal/access-others.html">用户画像</a></li>
            <li class="bd"><a href="https://ark.analysys.cn/portal/access-private.html">私有部署</a></li>
          </ul>
  
          <ul>
            <li class="hd"><a href="https://ark.analysys.cn/industry-demo.html" target="_blank">行业 Demo</a></li>
            <li class="bd"><a href="https://ark.analysys.cn/portal/solution-bank.html" data-action="toLogin" data-type="${locals.perject.bank}" data-pos="官网底部-银行">银行</a></li>
            <li class="bd"><a href="https://ark.analysys.cn/portal/solution-bond.html" data-action="toLogin" data-type="${locals.perject.security}" data-pos="官网底部-证券">证券</a></li>
            <li class="bd"><a href="https://ark.analysys.cn/portal/solution-sell.html" data-action="toLogin" data-type="${locals.perject.newRetail}" data-pos="官网底部-新零售">新零售</a></li>
            <li class="bd"><a href="https://ark.analysys.cn/portal/solution-ec.html" data-action="toLogin" data-type="${locals.perject.onlineRetailers}" data-pos="官网底部-电商行业">电商</a></li>
            <li class="bd"><a href="https://ark.analysys.cn/portal/solution-cmn.html" data-action="toLogin" data-type="${locals.perject.social}" data-pos="官网底部-社区">社区</a></li>
            <li class="bd"><a data-action="toLogin" data-type="${locals.perject.generalIndustry}" data-pos="官网底部-通用">通用</a></li>
          </ul>
  
          <ul class="ul-doc">
            <li class="hd"><a href="https://docs.analysys.cn/ark/" target="_blank">帮助文档</a></li>
            <li class="bd"><a href="https://docs.analysys.cn/ark/#jie-ru-liu-cheng" target="_blank">接入流程</a></li>
            <li class="bd"><a href="https://docs.analysys.cn/ark/integration" target="_blank">数据接入</a></li>
            <li class="bd"><a href="https://docs.analysys.cn/ark/features/faq-terms" target="_blank">名词解释</a></li>
            <li class="bd"><a href="https://docs.analysys.cn/ark/#kai-shi-shi-yong" target="_blank">使用说明</a></li>
            <li class="bd"><a href="https://docs.analysys.cn/ark/faq" target="_blank">常见问题</a></li>
          </ul>
          <ul>
            <li class="hd"><a href="https://ark.analysys.cn/blog/" target="_blank">知识库</a></li>
            <li class="bd"><a href="https://ark.analysys.cn/blog/category/fenxizhidao/">数据分析方法</a></li>
            <li class="bd"><a href="https://ark.analysys.cn/blog/category/chanpindongtai/">产品动态</a></li>
            <li class="bd"><a href="https://ark.analysys.cn/blog/category/zuixinhuodong/">市场活动 </a></li>
            <!-- <li class="bd"><a href="https://ark.analysys.cn/blog/category/meitibaodao/">媒体报道</a></li> -->
            <li class="bd"><a href="https://ark.analysys.cn/blog/category/kehuanli/">客户案例</a></li>
          </ul>
          <ul>
            <li class="hd">关于我们</li>
            <li class="bd"><a href="https://ark.analysys.cn/portal/about-company.html">公司介绍</a></li>
            <li class="bd"><a href="https://ark.analysys.cn/portal/about-friends.html">合作伙伴</a></li>
            <li class="bd"><a href="https://ark.analysys.cn/portal/about-service.html">服务条款</a></li>
            <li class="bd"><a href="https://ark.analysys.cn/portal/about-privacy.html">隐私政策</a></li>
            <li class="bd"><a href="https://ark.analysys.cn/portal/about-opt.html">OPT_OUT</a></li>
            <li class="bd bd-pc"><a href="https://www.analysys.cn/" target="_blank">易观官网</a></li>
            <li class="bd bd-h5"><a href="https://m.analysys.cn/" target="_blank">易观官网</a></li>
          </ul>
          <ul>
            <li class="hd">下载</li>
            <li class="bd ft-logined" style="display: none"><a href="https://ark.analysys.cn/portal/images/%E6%98%93%E8%A7%82%E6%96%B9%E8%88%9F%E4%BA%A7%E5%93%81%E4%BB%8B%E7%BB%8D.pdf" target="_blank">易观方舟介绍PDF</a></li>
            <li class="bd ft-nologin"><a href="https://ark.analysys.cn/view/sign/signup.html" target="_blank">易观方舟介绍PDF</a></li>
            <li class="bd"><a href="https://argo.analysys.cn/">易观方舟Argo</a></li>
          </ul>
        </div>
        <div class="right col-md-5">
          <div class="information">
            <div class="logo">
              <a class="logo-pc" href="https://www.analysys.cn/" target="_blank">
                <img class="img-1" src="${locals.baseUrl}/images/analysys-logo.svg" />
              </a>
              <a class="logo-h5" href="https://m.analysys.cn/" target="_blank">
                <img class="img-1" src="${locals.baseUrl}/images/analysys-logo.svg" />
              </a>
              <img src="${locals.baseUrl}/images/logo.svg?stamp=123" width="132" height="48" />
            </div>
            <div class="tel" ><i class="iconfont" style="font-size: 28px">&#xe641;</i><a style="color: rgba(255, 255, 255, 0.7); font-size: 34px" href="tel:4006-010-231">4006 - 010 - 231</a></div>
            <div class="email"><i class="iconfont">&#xe635;</i>service@analysys.com.cn</div>
          </div>
          <div class="qcode">
              <div class="weixin">
                  <div><img src="${locals.baseUrl}/images/analysys-weixin.png"></div>
                  <div style="text-align: center; margin-top: 5px;">微信公众号</div>
                </div>
                <div class="qq">
                  <div><img src="${locals.baseUrl}/images/argo.png"></div>
                  <div style="text-align: center; margin-top: 5px;"> 加入易观方舟Argo社区交流群</div>
                </div>
          </div>
  
        </div>
    </div>
      </div>
    </div>
  
    <div class="text-info">
        <div class="container-fluid">
          <div class="row row1">
            <div class="row-up col-sm-6 ">
              <span >Copyright © 2019</span>
              <span >易观版权所有</span>
              <span >京ICP备15065619号-1 &nbsp;</span>
            </div>
            <div class=" row-down col-sm-6 ">
              <span>&nbsp;京公网安备110105005360号</span>
              <a href="https://ark.analysys.cn/portal/about-service.html">服务条款</a>
              <a href="https://ark.analysys.cn/portal/about-privacy.html">隐私政策</a>
              <a href="https://ark.analysys.cn/portal/about-opt.html">OPT-OUT</a>
            </div>
          </div>
  
          <div class="row row2">
            <div class="row-down col-sm-12 ">
              <span >Copyright © 2019</span>
              <span >易观版权所有</span>
            </div>
            <div class=" row-down col-sm-12 ">
              <span>京ICP备15065619号-1</span>
              <span>京公网安备110105005360号</span>
            </div>
            <div class=" row-down col-sm-12 ">
              <a href="https://ark.analysys.cn/portal/about-service.html">服务条款</a>
              <a href="https://ark.analysys.cn/portal/about-privacy.html">隐私政策</a>
              <a href="https://ark.analysys.cn/portal/about-opt.html">OPT-OUT</a>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NW7M4FT');
  </script>
  <!-- End Google Tag Manager -->
  <!-- Global site tag (g (gtag.js) - ) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130863585-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-130863585-1');
  </script>
  <script src="//s1.analysys.cn/libs/pace/1.0.2/pace.min.js"></script>
  <!--[if lt IE 9]>
    <script src="//s1.analysys.cn/libs/es5-shim/4.5.7/es5-shim.min.js,es5-shim/4.5.7/es5-sham.min.js"></script>
  <![endif]-->
  <script src="//s1.analysys.cn/libs/??es6-shim/0.34.2/es6-shim.min.js,-/@fedor/promise@1.0.1/dist/promise.polyfill.min.js"></script>
  <script src="//s2.analysys.cn/libs/??jquery/1.12.3/jquery.min.js,vue/2.1.10/vue.min.js"></script>
  <script>
    var sassWebsiteServer = '${locals.login.server}'
    var paasService = '${locals.login.paasServer}'
    var sassWebsiteClient = '${locals.login.client}'
  </script>
  
  <script>
    var paasServer= '${locals.login.paasServer}';
    var client= '${locals.login.client}';
    var baseUrl= '${locals.baseUrl}';
  </script>